Fase4 - Garaje.json
[
    {
        "id": "8b6395410dc6b9a0",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b71cf1f8ab5bd8fa",
        "type": "ui_switch",
        "z": "8b6395410dc6b9a0",
        "name": "",
        "label": "Entrada garaje",
        "tooltip": "",
        "group": "c619787df8dd9055",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 860,
        "y": 180,
        "wires": [
            [
                "5baafcde0bdcc5ea"
            ]
        ]
    },
    {
        "id": "f99060433a1b40d8",
        "type": "s7 out",
        "z": "8b6395410dc6b9a0",
        "endpoint": "c106cc6553c178eb",
        "variable": "Disminuir",
        "name": "PLC",
        "x": 1090,
        "y": 240,
        "wires": []
    },
    {
        "id": "699da5f8774817a8",
        "type": "ui_switch",
        "z": "8b6395410dc6b9a0",
        "name": "",
        "label": "Salida garaje",
        "tooltip": "",
        "group": "c619787df8dd9055",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 870,
        "y": 240,
        "wires": [
            [
                "f99060433a1b40d8"
            ]
        ]
    },
    {
        "id": "b6b4543f5a69e657",
        "type": "ui_led",
        "z": "8b6395410dc6b9a0",
        "order": 1,
        "group": "c619787df8dd9055",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 630,
        "y": 240,
        "wires": []
    },
    {
        "id": "7042e636af3a3569",
        "type": "ui_led",
        "z": "8b6395410dc6b9a0",
        "order": 3,
        "group": "c619787df8dd9055",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffff00",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "a50684301172ede4",
        "type": "ui_led",
        "z": "8b6395410dc6b9a0",
        "order": 5,
        "group": "c619787df8dd9055",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 630,
        "y": 360,
        "wires": []
    },
    {
        "id": "c187e8d221a82e9a",
        "type": "s7 in",
        "z": "8b6395410dc6b9a0",
        "endpoint": "c106cc6553c178eb",
        "mode": "single",
        "variable": "rojo",
        "diff": true,
        "name": "",
        "x": 310,
        "y": 240,
        "wires": [
            [
                "b6b4543f5a69e657"
            ]
        ]
    },
    {
        "id": "bc03995144990c1c",
        "type": "s7 in",
        "z": "8b6395410dc6b9a0",
        "endpoint": "c106cc6553c178eb",
        "mode": "single",
        "variable": "ambar",
        "diff": true,
        "name": "",
        "x": 310,
        "y": 300,
        "wires": [
            [
                "7042e636af3a3569"
            ]
        ]
    },
    {
        "id": "c50007ea7edce507",
        "type": "s7 in",
        "z": "8b6395410dc6b9a0",
        "endpoint": "c106cc6553c178eb",
        "mode": "single",
        "variable": "verde",
        "diff": true,
        "name": "",
        "x": 310,
        "y": 360,
        "wires": [
            [
                "a50684301172ede4"
            ]
        ]
    },
    {
        "id": "5baafcde0bdcc5ea",
        "type": "s7 out",
        "z": "8b6395410dc6b9a0",
        "endpoint": "c106cc6553c178eb",
        "variable": "Aumentar",
        "name": "PLC",
        "x": 1090,
        "y": 180,
        "wires": []
    },
    {
        "id": "39c170de697ed9a6",
        "type": "s7 in",
        "z": "8b6395410dc6b9a0",
        "endpoint": "c106cc6553c178eb",
        "mode": "single",
        "variable": "Plazas libres",
        "diff": true,
        "name": "",
        "x": 330,
        "y": 180,
        "wires": [
            [
                "d4e9520e63ab112a"
            ]
        ]
    },
    {
        "id": "d4e9520e63ab112a",
        "type": "ui_numeric",
        "z": "8b6395410dc6b9a0",
        "name": "",
        "label": "Plazas disponibles",
        "tooltip": "",
        "group": "c619787df8dd9055",
        "order": 0,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 550,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "1f79dc9fe263d62b",
        "type": "function",
        "z": "8b6395410dc6b9a0",
        "name": "W_DB",
        "func": "let capacidad = msg.payload;\n\nlet tzoffset = (new Date()).getTimezoneOffset()*60000;//offset en ms\nlet fecha = (new Date(Date.now() - tzoffset)).toISOString().slice(0,-1);\n\n\nmsg.topic = \"INSERT INTO garaje VALUES('\"+fecha+\"','\"+capacidad+\"')\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 520,
        "wires": [
            [
                "cda8e9caa9972099"
            ]
        ]
    },
    {
        "id": "4ef9a90dbfbfcc07",
        "type": "debug",
        "z": "8b6395410dc6b9a0",
        "name": "msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 520,
        "wires": []
    },
    {
        "id": "cda8e9caa9972099",
        "type": "mysql",
        "z": "8b6395410dc6b9a0",
        "mydb": "1c21e66746908df9",
        "name": "",
        "x": 790,
        "y": 520,
        "wires": [
            [
                "4ef9a90dbfbfcc07"
            ]
        ]
    },
    {
        "id": "2d1587329e0e04fe",
        "type": "s7 in",
        "z": "8b6395410dc6b9a0",
        "endpoint": "c106cc6553c178eb",
        "mode": "single",
        "variable": "Plazas libres",
        "diff": true,
        "name": "",
        "x": 330,
        "y": 520,
        "wires": [
            [
                "1f79dc9fe263d62b"
            ]
        ]
    },
    {
        "id": "ed94f2447795e5d5",
        "type": "comment",
        "z": "8b6395410dc6b9a0",
        "name": "Plazas libres",
        "info": "Muestra el flujo de coches y las plazas libres que hay en el garaje.",
        "x": 330,
        "y": 460,
        "wires": []
    },
    {
        "id": "aea12c835d51c3d7",
        "type": "comment",
        "z": "8b6395410dc6b9a0",
        "name": "W_DB",
        "info": "Muestras las líneas de código donde se guardan las plazas libres, la fecha en la que entra cada coche y capacidad que esta ocupada en el garaje. ",
        "x": 550,
        "y": 460,
        "wires": []
    },
    {
        "id": "3147e93b80a5016e",
        "type": "comment",
        "z": "8b6395410dc6b9a0",
        "name": "Almacen de datos",
        "info": "Almacena los datos del garaje",
        "x": 790,
        "y": 460,
        "wires": []
    },
    {
        "id": "2807038294da794c",
        "type": "comment",
        "z": "8b6395410dc6b9a0",
        "name": "Mensaje mostrado",
        "info": "Se muestra el mensaje guardado en los datos",
        "x": 1030,
        "y": 460,
        "wires": []
    },
    {
        "id": "c619787df8dd9055",
        "type": "ui_group",
        "name": "Fase 3",
        "tab": "99d0f9c98a59c6f8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c106cc6553c178eb",
        "type": "s7 endpoint",
        "transport": "iso-on-tcp",
        "address": "192.168.0.1",
        "port": "102",
        "rack": "0",
        "slot": "1",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": "2",
        "cycletime": "1000",
        "timeout": "2000",
        "name": "",
        "vartable": [
            {
                "addr": "DB2,X0.0",
                "name": "rojo"
            },
            {
                "addr": "DB2,X0.1",
                "name": "ambar"
            },
            {
                "addr": "DB2,X0.2",
                "name": "verde"
            },
            {
                "addr": "DB2,I2",
                "name": "Plazas libres"
            },
            {
                "addr": "DB2,X4.0",
                "name": "Aumentar"
            },
            {
                "addr": "DB2,X4.1",
                "name": "Disminuir"
            }
        ]
    },
    {
        "id": "1c21e66746908df9",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "pruebas_db",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "99d0f9c98a59c6f8",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]